---
const data = {
  headerH1:
    '<span class="text-primary-600 uppercase text-lg lg:text-2xl lg:max-w-3xl font-sans text-center font-bold tracking-tight">Follow us on Instagram</br></span>See Our Latest Adventures in the Sky',
  //   title: "Stay connected and inspired with our Instagram feed.",
  paragraph:
    "Discover breathtaking aerial views, pilot stories, and behind-the-scenes moments from our flight training academy. Follow us for daily inspiration and updates on our journey to the skies.",
  buttons: [
    {
      name: "Discovery Flight",
      link: "/discovery-flight",
      primary: true,
    },
    {
      name: "Follow Us",
      link: "https://www.instagram.com/flytech_pilot_academy/",
      primary: false,
    },
  ],
};
---

<div class="bg-white flex flex-col lg:flex-row lg:justify-center items-center">
  <div
    class="flex flex-col-reverse w-full lg:flex-row py-12 lg:py-24 justify-center items-center gap-2 lg:gap-20 px-2 lg:px-8 max-w-7xl overflow-hidden"
  >
    <div class="flex-1 flex justify-center items-center w-full">
      <script src="https://elfsightcdn.com/platform.js" async></script>
      <div
        class="elfsight-app-e9deb9fa-35f9-4190-b1a7-6d497aec0407"
        data-elfsight-app-lazy
      >
      </div>
    </div>

    <div class="flex-1 flex items-center">
      <div class="mx-auto space-y-8">
        <h2
          class="text-2xl md:text-5xl lg:text-6xl text-left md:max-w-3xl lg:max-w-5xl lg:leading-[3.3rem] font-title font-black uppercase lg:tracking-tight text-primary-950"
        >
          <Fragment set:html={data.headerH1} />
        </h2>

        <p class="text-base md:text-xl text-black leading-relaxed">
          <Fragment set:html={data.paragraph} />
        </p>
        <div
          class="mt-6 w-full flex flex-wrap justify-start align-middle items-center gap-6 z-10"
        >
          {
            data.buttons.map((btn) => (
              <a
                href={btn.link}
                class={`${btn.primary ? "btn-primary" : "btn-white"} w-full text-2xl md:w-auto`}
              >
                {btn.name}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
